<template src="../../templates/categories.html"></template>

<script>

import Form from '../../helper/form.js';
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import VueEvents from 'vue-events'
import DetailRow from './CategoryDetailRow'
import FilterBar from './CategoryFilterBar'
import Simplert from 'vue2-simplert'

Vue.use(VueEvents)
Vue.component('my-detail-row', DetailRow)
Vue.component('filter-bar-category', FilterBar)

export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    Simplert,
  },
  data () {
    return {
      user:Laravel.user,
      image:'',
      imageUpdate:'',
      isImageUpdated:false,
      form: new Form({
        name: '',
        image: ''
      }),
      formUpdate: new Form({
        id: '',
        name: '',
        image: ''
      }),

      fields: [
        {
          name: '__sequence',
          title: '#',
          titleClass: 'text-right',
          dataClass: 'text-right'
        },
        {
          name: 'name',
          sortField: 'name',
          callback: 'allcap',
        },

        '__slot:actions'
      ],

      css: {
       
        tableClass: 'ui blue selectable celled stackable attached table',
        loadingClass: 'loading',
        ascendingIcon: 'pull-left glyphicon glyphicon-chevron-up',
        descendingIcon: 'pull-left glyphicon glyphicon-chevron-down',
       
        pagination: {
          wrapperClass: 'pagination pull-right',
          activeClass: 'btn-primary',
          disabledClass: 'disabled',
          pageClass: 'btn btn-border',
          linkClass: 'btn btn-border',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          }
        }
      },

      sortOrder: [
        { field: 'name', sortField: 'name', direction: 'asc'}
      ],
      moreParams: {}
    }
  },
  methods: {

    // USED FOR VUETABLE FIELD CALLBACK
    allcap (value) {
      return value.toUpperCase()
    },

    // FETCH A CATEGORY TO BE FILL UP FOR EDITING
    fetchCategory: function(id){

    this.isImageUpdated = false;

     this.formUpdate.get('api/categories/'+id).then(response => {
        this.formUpdate.originalData = response;
        this.formUpdate.sync();
        this.imageUpdate=response.image;
      });

      $("#edit-category").modal('show');
    },

    // CREATE CATEGORY
    addNewCategory(){

      this.form.image = this.image;
      this.form.post('api/categories')
        .then(response => {
          this.$refs.vuetable.refresh();
          toastr.success('Category Created Successfully.', 'Success Alert', {timeOut: 5000});
          this.form.reset();
          this.image = "";
        });
    },

     // UPDATE A CATEGORY
    updateCategory(id){

       if (this.isImageUpdated==true) {
         this.formUpdate.image = this.imageUpdate;
       }else{
          this.formUpdate.image = "";
       }
     
        this.formUpdate.patch('api/categories/'+id).then(response=>{
        this.$refs.vuetable.refresh();
        this.imageUpdate='';
        $("#edit-category").modal('hide');
        toastr.success('Category Updated Successfully.', 'Success Alert', {timeOut: 5000});
      });
    },

    // DELETE A CATEGORY
    deleteCategory(id){


        let confirmFn = () =>  {
          this.form.delete('api/categories/'+id).then(response => {
            this.$refs.vuetable.refresh();
            toastr.success('Category Deleted Successfully.', 'Success Alert', {timeOut: 5000});
          });
        }
        
        let obj = {
            title: 'Warning',
            message: 'Are you sure you want to delete?',
            type: 'warning',
            useConfirmBtn: true,
            onConfirm: confirmFn
        }

        this.$refs.deleteconfirmation.openSimplert(obj)


     
    },

    onFileChange(event) {

           this.errors = {};

           let files = event.target.files || event.dataTransfer.files;

           if (!files.length) {
               return;
           }

          this.createImage(files[0]);


       },

     onFileChangeUpdate(event) {

            this.errors = {};

            let files = event.target.files || event.dataTransfer.files;

            if (!files.length) {
                return;
            }

           this.createImageUpdate(files[0]);
           this.isImageUpdated = true;



        },

       createImage(file) {
         var image = new Image();
         var reader = new FileReader();
         var vm = this;

         reader.onload = (e) => {
           vm.image = e.target.result;
           this.form.image = e.target.result;
         };
         reader.readAsDataURL(file);
       },

       createImageUpdate(file) {
         var imageUpdate = new Image();
         var reader = new FileReader();
         var vm = this;

         reader.onload = (e) => {
           vm.imageUpdate  = e.target.result;
           this.formUpdate.image = e.target.result;
         };
         reader.readAsDataURL(file);
       },

    removeImage: function (e) {
        this.image = '';
      },

    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },

    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    onCellClicked (data, field, event) {
      console.log('cellClicked: ', field.name)
      this.$refs.vuetable.toggleDetailRow(data.id)
    },
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>
<style>
.sort-icon {
    float: left !important;
    padding-right: 10px;
    margin-top: 4px;
    color:#dd4b39;
}
</style>