  <div>  <!-- DONT REMOVE THIS DIV -->

    <!-- ////////////////////////////// ADD NEW CATEGORY PANEL //////////////////////////////////// -->
    <div v-if="user.can['add_categories']" class="col-md-10">
       <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add New Category</h3>
            </div>
            <div class="panel-body">
              <form  enctype="multipart/form-data" @submit.prevent="addNewCategory" @keydown="form.errors.clear($event.target.name)">
                <div v-if="!image">
                    <h2>Select an image</h2>
                    <input type="file" name="image" id="image"  v-on:change="onFileChange" >
                </div>
                <div v-else>
                  <img height="300" width="300" :src="image" />
                  <button @click="removeImage">Remove image</button>
                </div>


               <div :class="form.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" v-model="form.name" name="name">
                  <span v-if="form.errors.has('name')" class="error text-danger">{{ form.errors.get('name') }}</span>
                </div>
                <div class="btn-group btn-group-sm">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>

            </div>
          </div>
    </div>
    <div style="clear:both"></div>
  <!-- ////////////////////////////// END OF ADD CATEGORY PANEL //////////////////////////////////// -->



  <!-- ////////////////////////////// CATEGORY DATATABLE PANEL //////////////////////////////////// -->

   <div class="col-md-10">
       <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">List of Categories</h3>
          </div>
          
          <div class="panel-body">
              <!-- filter bar components for searching ./components/categories/FilterBar.vue -->
              <filter-bar-category></filter-bar-category>

              <vuetable ref="vuetable" api-url="/api/categories"
                :fields="fields"
                pagination-path=""
                :css="css"
                :sort-order="sortOrder"
                :multi-sort="true"
                detail-row-component="my-detail-row"
                :append-params="moreParams"
                @vuetable:cell-clicked="onCellClicked"
                @vuetable:pagination-data="onPaginationData">

                  <!-- Template for edit and delete button in action column -->
                  <template slot="actions" scope="props">
                    <div class="table-button-container">
                      <div class="custom-actions">
                           <button v-if="user.can['edit_categories']" type='button' class='btn btn-sm btn-primary' data-toggle="modal"  @click='fetchCategory(props.rowData.id)'><i class="glyphicon glyphicon-pencil"></i></button>
                           <button v-if="user.can['delete_categories']" type='button' class='btn btn-sm btn-danger' @click='deleteCategory(props.rowData.id)'><i class="glyphicon glyphicon-trash"></i></button>
                      </div>
                    </div>
                  </template>

              </vuetable> 

                <simplert ref="deleteconfirmation"> </simplert>


              <div class="vuetable-pagination">
                <vuetable-pagination-info ref="paginationInfo"
                  info-class="pagination-info"
                ></vuetable-pagination-info>
                <vuetable-pagination ref="pagination"
                  :css="css.pagination"
                  @vuetable-pagination:change-page="onChangePage"
                ></vuetable-pagination>  
              </div>

            <!-- ////////////////////////////// FORM MODAL TO EDIT CATEGORY //////////////////////////////////// -->
              <form enctype="multipart/form-data" @submit.prevent="updateCategory(formUpdate.id)" @keydown="formUpdate.errors.clear($event.target.name)">
                    <div class="modal fade" id="edit-category" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="">Edit Category {{ formUpdate.name }}</h4>
                          </div>

                          <div class="modal-body">
                            <h2>Select an images</h2>
                            <input type="file" name="imageUpdate" id="imageUpdate" v-on:change="onFileChangeUpdate" >
                            <div v-if="formUpdate.image != ''">
                              <img height="300" width="300" :src="imageUpdate" />
                            </div>
                            <div :class="formUpdate.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                               <label for="name">Name</label>
                               <input type="text" class="form-control" v-model="formUpdate.name">
                               <span v-if="formUpdate.errors.has('name')" class="error text-danger">{{ formUpdate.errors.get('name') }}</span>
                             </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </form>
                <!-- ////////////////////////////// *************************** //////////////////////////////////// -->

          </div> <!-- panel-body -->
      </div> <!-- panel panel-default -->
  </div> <!-- col-md-10 -->

  <div style="clear:both"></div>
  <!-- ////////////////////////////// CATEGORY DATATABLE PANEL //////////////////////////////////// -->
</div>