<div>
    <!-- ////////////////////////////// ADD NEW POST PANEL //////////////////////////////////// -->

    <div v-if="user.can['add_categories']" class="col-md-10">
       <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Add New Post</h3>
            </div>
            <div class="panel-body">
              <form @submit.prevent="addNewPost">
                <div :class="form.errors.has('category_id') ? 'form-group  has-error' : 'form-group ' ">
                   <label for="category">Category</label>
                   <select class='form-control' v-model="form.category_id">
                     <option v-for='category in categories' :value='category.id'>{{ category.name }}</option>
                   </select>
                     <span v-if="form.errors.has('category_id')" class="error text-danger">{{ form.errors.get('category_id') }}</span>
                 </div>
                <div :class="form.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" v-model="form.name" name="name">
                  <span v-if="form.errors.has('name')" class="error text-danger">{{ form.errors.get('name') }}</span>
                </div>
                 <div :class="form.errors.has('description') ? 'form-group  has-error' : 'form-group ' ">
                  <label for="content">Description</label>
                  <textarea  name="description"  rows="4" cols="50" class="form-control" v-model="form.description"></textarea>
                  <span v-if="form.errors.has('description')" class="error text-danger">{{ form.errors.get('description') }}</span>
                </div>

                <div class="btn-group btn-group-sm pull-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
      <div style="clear:both"></div>


    </div>
       
    <!-- ////////////////////////////// END OF ADD POST PANEL //////////////////////////////////// -->


     <!-- ////////////////////////////// POST DATATABLE PANEL //////////////////////////////////// -->

   <div class="col-md-10">
       <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">List of Posts</h3>
          </div>
          
          <div class="panel-body">
              <!-- filter bar components for searching ./components/posts/FilterBar.vue -->
              <filter-bar-post></filter-bar-post>

              <vuetable ref="vuetable" api-url="/api/posts"
                :fields="fields"
                pagination-path=""
                :css="css"
                :sort-order="sortOrder"
                :multi-sort="true"
                detail-row-component="my-detail-row"
                :append-params="moreParams"
                @vuetable:cell-clicked="onCellClicked"
                @vuetable:pagination-data="onPaginationData">

                  <!-- Template for edit and delete button in action column -->
                  <template slot="actions" scope="props">
                    <div class="table-button-container">
                      <div class="custom-actions">
                           <button v-if="user.can['edit_posts']" type='button' class='btn btn-sm btn-primary' data-toggle="modal"  @click='fetchPost(props.rowData.id)'> <i class="glyphicon glyphicon-pencil"></i></button>
                           <button v-if="user.can['delete_posts']" type='button' class='btn btn-sm btn-danger' @click='deletePost(props.rowData.id)'><i class="glyphicon glyphicon-trash"></i></button>
                      </div>
                    </div>
                  </template>

              </vuetable> 

              
              <simplert ref="deleteconfirmation"> </simplert>


              <div class="vuetable-pagination">
                <vuetable-pagination-info ref="paginationInfo"
                  info-class="pagination-info"
                ></vuetable-pagination-info>
                <vuetable-pagination ref="pagination"
                  :css="css.pagination"
                  @vuetable-pagination:change-page="onChangePage"
                ></vuetable-pagination>  
              </div>

            <!-- ////////////////////////////// FORM MODAL TO EDIT CATEGORY //////////////////////////////////// -->
              <form  @submit.prevent="updatePost(formUpdate.id)" @keydown="formUpdate.errors.clear($event.target.name)">
                    <div class="modal fade" id="edit-post" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="">Edit Post {{ formUpdate.name }}</h4>
                          </div>

                          <div class="modal-body">

                           <div :class="formUpdate.errors.has('category_id') ? 'form-group  has-error' : 'form-group ' ">
                             <label for="category">Category</label>

                             <select class='form-control' v-model="formUpdate.category_id">
                               <option v-for='category in categories'  :value='category.id'>{{ category.name }}</option>
                             </select>
                               <span v-if="formUpdate.errors.has('category_id')" class="error text-danger">{{ formUpdate.errors.get('category_id') }}</span>
                          </div>

                            <div :class="formUpdate.errors.has('name') ? 'form-group  has-error' : 'form-group ' ">
                               <label for="name">Name</label>
                               <input type="text" class="form-control" v-model="formUpdate.name">
                               <span v-if="formUpdate.errors.has('name')" class="error text-danger">{{ formUpdate.errors.get('name') }}</span>
                             </div>

                             <div :class="formUpdate.errors.has('description') ? 'form-group  has-error' : 'form-group ' ">
                              <label for="content">Description</label>
                              <textarea  name="description"  rows="4" cols="50" class="form-control" v-model="formUpdate.description"></textarea>
                              <span v-if="formUpdate.errors.has('description')" class="error text-danger">{{ formUpdate.errors.get('description') }}</span>
                            </div>

                          </div>
                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </form>

   

                <!-- ////////////////////////////// *************************** //////////////////////////////////// -->

          </div> <!-- panel-body -->
      </div> <!-- panel panel-default -->
  </div> <!-- col-md-10 -->

  <div style="clear:both"></div>
  <!-- ////////////////////////////// CATEGORY DATATABLE PANEL //////////////////////////////////// -->


</div>