 <template src="../../templates/posts.html"></template>

<script>


import Form from '../../helper/form.js';
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Vue from 'vue'
import VueEvents from 'vue-events'
import DetailRow from './PostDetailRow'
import FilterBar from './PostFilterBar'
import Simplert from 'vue2-simplert'

Vue.use(VueEvents)
Vue.component('my-detail-row', DetailRow)
Vue.component('filter-bar-post', FilterBar)



export default {
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    Simplert,
  },
  data () {
    return {
      user:Laravel.user,
      categories: [],
      form: new Form({
        name: '',
        description: '',
        category_id: ''
      }),
      formUpdate: new Form({
        id: '',
        name: '',
        description: '',
        category_id: ''
      }),

      fields: [
        {
          name: '__sequence',
          title: '#',
          titleClass: 'text-right',
          dataClass: 'text-right'
        },
        {
          name: 'name',
          title: 'Name',
          sortField: 'name',
        },
        {
          name: 'description',
          title: 'Description',
          sortField: 'description',
        },
        {
          name: 'category.name',
          title: 'Category',

        },
        {
          name: 'user.name',
          title: 'Posted By',
         
        },

        '__slot:actions'
      ],

      css: {

        tableClass: 'ui blue selectable celled stackable attached table',
        loadingClass: 'loading',
        ascendingIcon: 'pull-left glyphicon glyphicon-chevron-up',
        descendingIcon: 'pull-left glyphicon glyphicon-chevron-down',
       

        pagination: {
          wrapperClass: 'pagination pull-right',
          activeClass: 'btn-primary',
          disabledClass: 'disabled',
          pageClass: 'btn btn-border',
          linkClass: 'btn btn-border',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          }
        }
      },

      sortOrder: [
        { field: 'name', sortField: 'name', direction: 'asc'}
      ],
      moreParams: {}
    }
  },

  mounted(){
    this.fetchAllCategories();
  },

  methods: {

    // FETCH A POST TO BE FILL UP FOR EDITING
    fetchPost: function(id){
     this.formUpdate.get('api/posts/'+id).then(response => {
        this.formUpdate.originalData = response;
        this.formUpdate.sync();
      });

      $("#edit-post").modal('show');
    },

    // CREATE CATEGORY
    addNewPost(){

      this.form.post('api/posts')
        .then(response => {
          this.$refs.vuetable.refresh();
          toastr.success('Post Created Successfully.', 'Success Alert', {timeOut: 5000});
          this.form.reset();
        });
    },

    fetchAllCategories(){
      this.form.get('api/categories').then(response => {
        this.categories = response.categories;
      });
    },
    
    updatePost(){
      this.formUpdate.patch('/api/posts/'+this.formUpdate.id).then(response => {
        this.$refs.vuetable.refresh();
        toastr.success('Edit Post Successfully.', 'Success Alert', {timeOut: 5000});
        $("#edit-post").modal("hide");
      });
    },

    // DELETE A POST
    deletePost(id){

      let confirmFn = () =>  {
          this.form.delete('api/posts/'+id).then(response => {
          this.$refs.vuetable.refresh();
          toastr.success('Post Deleted Successfully.', 'Success Alert', {timeOut: 5000});
          });
      }

      let obj = {
          title: 'Warning',
          message: 'Are you sure you want to delete?',
          type: 'warning',
          useConfirmBtn: true,
          onConfirm: confirmFn
      }

      this.$refs.deleteconfirmation.openSimplert(obj)

    
    },


    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },

    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },

    onCellClicked (data, field, event) {
      console.log('cellClicked: ', field.name)
      this.$refs.vuetable.toggleDetailRow(data.id)
    },
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  }
}
</script>


<style>
.sort-icon {
    float: left !important;
    padding-right: 10px;
    margin-top: 4px;
    color:#dd4b39;
}
</style>